<h1>New</h1>

<form method="post" action="/add">
	<input type="text" name="title" placeholder="video title"><br>
	<input type="text" name="description" placeholder="description"><br>
	<input type="text" name="url" placeholder="url"><br>
	<input type="text" name="genre" placeholder="genre"><br>
	<br>
	<button>add</button>
</form>